* {
    background-color: #008080;

}

h1 {
    text-align: center;
    color: aliceblue;
    font-family: 'Verdana';
    font-weight: bold;
    font-size: 28px;
    
}

h2 {
    text-align: center;
    width: 100%;
    background-color: #800000;
    color: white;
    font-size: 35px;
    font-family: 'monospace';
}